.components-header{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  padding: 15px 25px;
  background: white;
  box-shadow: 1px 1px #ccc;
}
.caption {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  vertical-align: bottom;
}